{% extends "EncryptNotes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
	 <h2 class="account-heading">User Profile:</h2>
      <div class="media">
        <div class="media-body">
          <p class="text-secondary">Username: {{ user.username }} <br> Email: {{ user.email }}</p>
        </div>
      </div>
	  <hr>
	  <a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a>
	  <a href="{% url 'delete_user' %}" class="btn btn-danger">Delete Account</a>
    </div>
{% endblock content %}
