{% extends "EncryptNotes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
	 <h1 class="account-heading">User Profile</h1>
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Username: {{ user.username }}</h2>
          <p class="text-secondary">Email: {{ user.email }}</p>
        </div>
      </div>
	  <hr>
	  <a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a>
      <hr>
	  <form method="POST" action="{% url 'delete_user' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Account</button>
      </form>
    </div>
{% endblock content %}
