{% extends "EncryptNotes/base.html" %}

{% block content %}
    <h1>Note List</h1>
    <hr>
    <ul class="note-list">
        {% for note in notes %}
            <li class="note-item notebook-page">
                <a href="{% url 'EncryptNotes-view' note.id %}" class="note-title">
                    <strong>{{ note.title }}</strong>
                </a>
                {% if note.category %}
                    <!-- Make category clickable -->
                    <a href="{% url 'EncryptNotes-category' note.category %}" class="note-category">
                        ({{ note.category }})
                    </a>
				{% else %}
					<span class="note-category"> (Uncategorized) </span>

                {% endif %}
            </li>
        {% empty %}
            <p>No notes found.</p>
        {% endfor %}
    </ul>
{% endblock content %}