{% extends "EncryptNotes/base.html" %}

{% block content %}
    <h1>Note List</h1>
    <hr>
    <ul class="note-list">
        {% for note in notes %}
            <li class="note-item notebook-page">
                <!-- Make the title a clickable link -->
                <a href="{% url 'EncryptNotes-view' note.id %}" class="note-title">
                    <strong>{{ note.title }}</strong>
                </a>
            </li>
        {% empty %}
            <p>No notes found.</p>
        {% endfor %}
    </ul>
{% endblock content %}